---
import Layout from '../layouts/Layout.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
import Sidebar from '../components/Sidebar.astro';
import MainContent from '../components/MainContent.astro';
import SubscribeBar from '../components/SubscribeBar.astro';
---

<Layout>
	<ThemeToggle />
	<div class="page-layout">
		<Sidebar />
		<div class="content-area">
			<MainContent />
		</div>
	</div>
	<SubscribeBar />
</Layout>

<style>
	.page-layout {
		display: flex;
		min-height: calc(100vh - 3rem);
	}

	.content-area {
		flex: 1;
		margin-left: 260px;
		padding-bottom: 3rem;
	}

	@media (max-width: 768px) {
		.page-layout {
			flex-direction: column;
		}

		.content-area {
			margin-left: 0;
		}
	}
</style>
