---
---

<main class="main-content">
	<h1>hello, i'm rohin</h1>
	<p>
        learning by building.
    </p>
    <p>
        during the day, i spend most of my time thinking about how agents are going to transform
        how we transact. before, i built the observability platform for cloudflare workers.
    </p>
	<p>
        to get in touch, email me: hello at rohin dot dev.
	</p>
</main>

<style>
	.main-content {
		max-width: 640px;
		margin: 0 auto;
		padding: 3rem 2rem;
	}

	h1 {
		font-family: var(--font-heading);
		font-size: 28px;
		font-weight: 459;
		margin: 0 0 1.5rem 0;
		color: var(--text);
        font-style: italic;
	}

	p {
		margin: 0 0 0.75rem 0;
		color: var(--text);
		font-size: 1.1rem;
		line-height: 1.7;
	}

	@media (max-width: 768px) {
		.main-content {
			padding: 2rem 1.5rem;
		}

		h1 {
			font-size: 1.6rem;
		}
	}
</style>
