---
---

<div class="subscribe-bar"></div>

<style>
	.subscribe-bar {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 102;
		border-top: none;
		background-image: linear-gradient(to right, color-mix(in srgb, var(--border), black 10%) 50%, transparent 50%);
		background-size: 16px 2px;
		background-repeat: repeat-x;
		background-position: top;
		height: 4.5rem;
		pointer-events: none;
	}

	@media (max-width: 768px) {
		.subscribe-bar {
			left: 0;
		}
	}
</style>
